/* General Styling */
body {
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    background-color: #000;
    color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2 {
    font-weight: bold;
    margin: 0;
}

p {
    font-size: 1.1em;
}

header {
    position: fixed;
    top: 15px;
    width: 100%;
    background-color: transparent;
    z-index: 1000;
    padding-left: 40px;
    justify-content: space-between;
    
}

.nav-container {
    display: flex; 
    align-items: center;
}

.nav-container .logo {
    font-size: 40px;
    color: #fff; 
    font-weight: bolder;
}

.nav-container nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding-left: 1000px;
    justify-content: space-between;
}

.nav-container nav ul li a {
    color: white; 
    font-size: 20px;
    transition: color 0.3s;
    justify-content: space-between;
}

.nav-container nav ul li a:hover {
    color: orange; 
}

.hero {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;  
    transition: opacity 0.5s; 
}

#heroVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; 
    transform: translate(-50%, -50%);
    object-fit: cover; 
}

.hero-content {
    position: relative;  
   top: 70px;  
    left: 190px;  
    text-align: right;  
    color: #fff; 
    z-index: 1; 
}

.hero-content h1 {
    font-size: 3.5em;
    margin-bottom: 20px;
    left: -400px;
}
.content {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    color: white;
    padding: 20px; 
    border-radius: 8px; 
    text-align: center; 
    z-index: 1;
}
.order-button {
    
    padding: 10px 5px;
    font-size: 1.2em;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}

.scroll-indicator {
    position: fixed;  
    bottom: 20px;  
    left: 50%;  
    transform: translateX(-50%); 
    font-size: 1em;
    color: #fff; 
    z-index: 1000; 
}

.handmade-section {
    background-color: #111;
    padding: 100px 20px;
    text-align: center;
}

.handmade-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.handmade-section p {
    max-width: 600px;
    margin: 0 auto;
}

.walk-the-talk {
    padding: 100px 20px;
    text-align: center;
    background-color: #000;
}

.walk-the-talk h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
}

.features {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.feature-item {
    text-align: center;
    max-width: 200px;
}

.feature-item img {
    width: 100px;
    margin-bottom: 20px;
}

.achievements {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 50px 20px;
    background-color: black; 
    text-align: center;
}

.achievement-item {
    flex: 1; 
    padding: 20px; 
    margin: 10px;
    background-color: black; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 250px; 
}

.achievement-item .icon {
    font-size: 50px;
    color: #cc8899; 
    margin-bottom: 20px;
}

.achievement-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px; 
    color: #fff; 
}

.achievement-item p {
    font-size: 1em;
    color: black; 
    line-height: 1.5; 
}



.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1300px;
    margin: 0 auto; 
    margin-bottom: 100px;
}


.card {
    width: 300px;
    height: 404px;
    background-image: linear-gradient(163deg, #cc8899 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all .3s;
   }
   
   .card2 {
    width: 300px;
    height: 404px;
    background-color: #1a1a1a;
    border-radius:20px;
    transition: all .2s;
   }
   
   .card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
   }
   
   .card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
   }
  

.card:nth-child(even) {
    background-color: #1c1c1c; 
}

.card:nth-child(odd) {
    background-color: #252525; 
}

.card-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 15px;
    margin-top: 30px;
}

.card-title {
    padding-left: 20px;
    padding-right: 30px;
    color: linear-gradient(163deg, #cc8899 0%, #3700ff 100%);
    margin-bottom: 10px;
    font-size: 10px;
}

.card-content {
    font-size: 18px;
    color: #b0b0b0;
    padding-left: 20px;
    padding-right: 20px;
}


.card:hover {
    background-color: #333; 
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.two-columns {
    display: flex; 
    padding: 20px; 
    padding-bottom: 0;
}

.column {
    flex: 1; 
    padding: 20px;
    background-color: black; 
   padding-top: 50px;
   padding-bottom: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border: solid 1px grey;
}
.button-wrapper {
    display: flex; 
    justify-content: center;
    align-items: center;
    padding-left:20px;
    padding-right: 130px;
  }

button {
    background-image: linear-gradient(144deg, #cc8899, #5B42F3 90%, #00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 18px;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
}

button:active,
button:hover {
    outline: 0;
}

button span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}
button:hover span {
    background: none;
   }
   
   button:active {
    transform: scale(0.9);
   }
   .five-column-container {
    display: grid; 
    grid-template-columns: repeat(5, 1fr); 
    max-width: 1360px;
    margin: 0 auto; 
    margin-top: 0;
    padding-top: 0;
}

.column2 {
    background-color: black;
    border: 1px solid grey;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.column2 h3 {
    margin-top: 20px;
    font-size: 1.2em;
    color: #c0c0c0;
    padding-top: 30px;  
}

.column2 p {
    color: #555;
    font-size: 0.9em;
    line-height: 1.6;
}

.column2:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
#video {
    width: 100%;
    height: auto; 
   object-fit: fill;
    display: block; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    
}
footer {
    background-color: #333;
    padding-top: 20px;
    color: white;
 }

 footer .cont {
     display: flex; 
     justify-content: space-between;
     padding-left: 120px;
 }

 footer .column {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     margin-bottom: 20px;
 }
 
 footer p {
     margin: 0;
 }

 .copyright {
    text-align: center;
    margin-right: 50px;
    padding-bottom: 50px;
 }
/* Responsive Design */
@media (max-width: 768px) {
    .achievements {
        flex-direction: column; 
        align-items: stretch; 
    }
}

